.gradient-background {
  background: linear-gradient(300deg, #ff6200, #d9923b, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.gradient-background2 {
  background: linear-gradient(300deg, #023059, #0056A2, whitesmoke);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.selfie-photo { display: flex;
  justify-content: center;
  width: 200px;
  border-radius: 50%;
}

.section {color: whitesmoke;}

.Baejita {color: #023059;}

.education { display: flex;
  justify-content: center;
  width: 200px;
  border-radius: 50%;
}

.center {display: flex;
justify-content: center;}

.myskillphoto { display: flex;
  justify-content: center;
  width: 200px;
  border-radius: 10%;
}

.photoheight {max-width: 100px;
max-height: 500px;}

